body{
  font-family: Roboto;
  background-color: rgb(229, 229, 229);
}
.header-box{
  height: 55px;
  background-color: rgb(41, 73, 86);
  position: fixed;
  color: white;
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 15px;
  top: 0;
  left: 0;
  right: 0;
  margin: 0px;
  justify-content:space-between;
}
.header-right{
  height: 55px;
  display: flex;
  align-items: center;
}
.header-image{
  height: 40px;
  width: 40px;
  margin-left: 10px;
}
.main-body{
  display: flex;
  justify-content: space-around;
  align-items: center;
  vertical-align: middle;
  height: 100vh;
}
h1{
  color:white;
}
.cpu, .gpu, .ram, .ssd{
  font-size: 10px;
}
.computer-image{
  height: 200px;
  width: 282px;
  object-fit: fill;
}
.details{
  display: flex;
  flex-direction: column;
  object-fit:contain;
  border-style: solid;
  border-color: rgb(98, 98, 98);
  border-width: 2px;
  text-align: center;
}
.main-body{
  display: flex;
  align-items: flex-start;
  height: 300px;
}
.details p{
  margin-top: 0;
  margin-bottom: 0;
}
.compare-title{
  color: black;
  text-align: center;
  margin-top: 100px;
}
.comparasion-details{
  display: flex;
  margin-top: 10px;
  align-items: center;
  flex-direction: column;
}
.comparasion-details p{
  font-size: 20px;
  margin-top: 0;
}
.VS{
  margin-left: 0;
  margin-right: 0;
  font-size: 69px;
}