.headermain{
  height: 55px;
  background-color: rgb(41, 73, 86);
  position: fixed;
  color: white;
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 15px;
  top: 0;
  left: 0;
  right: 0;
  margin: 0px;
  justify-content:space-between;
}
body{
  background-color: rgb(229, 229, 229);
  font-family: Roboto;
}
.header-right{
  height: 55px;
  display: flex;
  align-items: center;
}

.header-image{
  height: 40px;
  width: 40px;
  margin-left: 10px;
}
.buttons{
  display: flex;
  width: 100px;
  flex-direction: row;
  justify-content: center;
  margin-left: 10px;
}
.main-sort-by{
  display: flex;
  margin-top:55px;
  margin-left:-5px;
  background-color: rgb(196, 196, 196);
  padding-top: 7px;
  padding-bottom: 5px;
  padding-left: 15px;
  margin-right: -10px;
}
.sort-by{
  margin-left: 10px;
  margin-right: 20px;
}
.main-grid{
  margin-left: 10px;
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 20px;
  row-gap: 10px;
}
.image-box{
  display: flex;
  align-items: center;
  justify-content: center;
}
.computer-image{
  height: 200px;
  width: 282px;
  object-fit: fill;
}
.main-pc-box{
  display: flex;
  flex-direction: column;
  height: 340px;
  object-fit:contain;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  text-align: center;
}
.main-pc-box p{
  margin-top: 0;
  margin-bottom: 0;
}
.cpu, .gpu, .ram, .ssd{
  font-size: 10px;
}
.sidebar-price-input{
  border-radius: 10px;
  padding-left: 7px;
  border-style: solid;
  border-color: black;
  border-width: 1px;
}
.compare-button{
  color: white;
  background-color: rgb(23, 108, 177);
  border-radius: 13px;
  border-style: none;
  padding: 10px 10px 10px 10px;
  font-size: 14px;
  transition: background-color 0.15s;
  margin-top: 5px;
}
.compare-button:hover{
  background-color: rgb(31, 134, 218);
  cursor: pointer;
}
@media screen and (max-width: 1700px) {
  .main-grid{
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (max-width: 1560px){
  .main-grid{
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 1060px){
  .main-grid{
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 1060px){
  .main-grid{
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 800px){
  .main-grid{
    grid-template-columns: repeat(1, 1fr);
  }
}